|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/slack', '''
div(tg-slack-webhooks, ng-controller="ContribSlackAdminController as ctrl")
    header
        h1(tg-main-title)

    form
        fieldset
            label(for="url") Slack webhook url
            input(type="text", name="url", ng-model="slackhook.url", placeholder="Slack webhook url", id="url")

        button(type="submit", class="hidden")
        a.button.button-green.submit-button(href="", title="Save", ng-click="ctrl.updateOrCreateHook(slackhook)") Save
|''')]);
